<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have about 4 years of experience in Information Technology. I have worked as an application developer prior to
	    joining Northeastern Univeristy.My current work involves application security audits, network penetration test,
	    code/architectural reviews. Background in software engineering has helped me understand vulnerabilites a bit better
	    than my competitiors. 		
        </p>
        <p>
           I love to break and fix software/hardware.
           My passion lies in solving real world industry problems using computer science. I have witnessed about a decade of change
	   in the information security industry.Starting from the rise of fourm culture and elite hacking group such as Ac1dB1tch3z 
	   upto the secret era of VUPEN. I strongly belive that the responsible disclosure(may it be 10 days deadline :) ) has changed
	   the way we look at security issues.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Found 0-day vulnerability in a protocol present in production ready device that affected several clients.
    			</li>
          <li>
            Wrote a HL7 protocol fuzzer to break and test the native HL7 implementation. This helped organization to fix some
	    major issues in generic implementation.
          </li>
    	  <li>
            Performed hadware security assesment for one of the big4 clients and reported multiple vulnerabilties.
    	  </li>
    	   <li>
            Helped design CTFs to help and educate developers about modern threat ecosystem.
    	   </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
