<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Work Experience:
        </p>
			<ul>
			  <li>
				 <b>NCC Group, San Francisco</b>. Introduced me to the world of security consulting.
				<li> Worked on different web applications; performed code reviews and black box testing to remediate critical bugs </li>
				<li> Conducted hardware security assesment and mitigated critical issues</li>
			  </li>
			  <li>
				  <b>Philips Healthcare </b>. 
			           <li>Found critical bugs in production ready software/hardware components </li>
			           <li>Peroformed internal network pentest and helped pin point some major issues in the internal applications. </li>
				   <li>Web application audits and code reviews to safeguard IOT devices from external/internal threats </li>
			  </li>
			  <li>
				  <b>Mountaineering</b>. I live in the Pacific Northwest, home of some of the greatest mountains and trails in the country. I enjoy spending weekends
          on scrambles and getting lost in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
